# Part 1 - Truecar.com - New York

#### Step 1 - Imports

In [1]:
import requests
import pandas as pd 
from sqlalchemy import create_engine

#### Step 2 - Python Request

In [2]:
headers = {
    'authority': 'www.truecar.com',
    'sec-ch-ua': '^\\^Chromium^\\^;v=^\\^92^\\^, ^\\^',
    'accept': 'application/json, text/plain, */*',
    'x-xsrf-token': 'Ur/kxt0PrKLpIlS3QELPXZBZHMSME0gTzs47TPfIUiC1LJqIt9HlLYrLTMgwB5qE6zC2M5Psn5Er+4Qm82MgEA==',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-new-york-ny/',
    'accept-language': 'en-US,en;q=0.9,de-DE;q=0.8,de;q=0.7',
    'cookie': 'tc_v=732d8f6c-016d-4e04-99ea-962821b285bd; u=rBEABWDn9kVuLQARuYhKAg==; user_zip_code_san-francisco-ca=94102; user_zip_code_new-york-ny=10001; _abp_auth_p=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwN2Q0MTBkOS0zYjYwLTQwNTAtYjhiMy0yN2VhNzI5YjI4MmEiLCJpYXQiOjE2MjgwNTk1ODAsImV4cCI6MTY0NDA1OTU4MCwianRpIjoiMTkxNjdlZmYtNDg5NC00NWE5LTgwMzItYjNjNWYyNjJhZjg3IiwiYXV0aGVudGljYXRlZCI6ZmFsc2UsInByZXNldCI6eyJhZmZpbGlhdGlvbnMiOltdfSwiYXVkIjoiaHR0cHM6Ly93d3cudHJ1ZWNhci5jb20ifQ; _abp_auth_s=aLdzR1stp7FxiV6Cbnggg8fmtny6X9FAap2fnCqWeXg; referrer=ZTC0000000; g_state=^{^\\^i_p^\\^:1628151776913,^\\^i_l^\\^:2^}; capselaPreferredPostalCode=10001; XSRF-TOKEN=Ur^%^2Fkxt0PrKLpIlS3QELPXZBZHMSME0gTzs47TPfIUiC1LJqIt9HlLYrLTMgwB5qE6zC2M5Psn5Er^%^2B4Qm82MgEA^%^3D^%^3D; _abp_backend_session=cnN3bFdMQjJQYTlwRFFvS3oybm1oWTl0SVc3NVNGRng5Y01GWHlxa3BybWFJRXM1UkFueTFRWUhMYUtSVW1YZWxNaUFIZ2ZjS2FUQ2pVeURRNG5PeEh6VlRFQjZnRmFLN01PWHZFdjBQTis5UG9VRGFtWko4MFZNY2ZUUGRmS1pkSFdmcnB4TVkwMnJGREZBblZla1RRPT0tLW5BQjFPdHVvTk1VbHJZL3lwQ2MrTUE9PQ^%^3D^%^3D--a4caf99167368bcbbcd454b4ffe52eb35169abe0; _dd_s=rum=0&expire=1628067151364',
    'if-none-match': 'W/^\\^ad5f12263df3f1f7dad67afa854d2880^\\^',
}

params = (
    ('city', 'new-york'),
    ('collapse', 'true'),
    ('fallback', 'true'),
    ('include_incentives', 'true'),
    ('include_targeted_incentives', 'true'),
    ('new_or_used', 'u'),
    ('page', '1'),
    ('per_page', '30'),
    ('postal_code', '10001'),
    ('search_event', 'true'),
    ('sort^/[^/]', 'best_match'),
    ('sponsored', 'true'),
    ('state', 'ny'),
)

response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings', headers=headers, params=params)

#NB. Original query string below. It seems impossible to parse and
#reproduce query strings 100% accurately so the one below is given
#in case the reproduced version is not "correct".
# response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings?city=new-york&collapse=true&fallback=true&include_incentives=true&include_targeted_incentives=true&new_or_used=u&page=2&per_page=30&postal_code=10001&search_event=true&sort^\[^\]=best_match&sponsored=true&state=ny', headers=headers)

#### Step 3 - Check Status Code

In [3]:
response

#### Step 4 - Create Json Object

In [4]:
results_json = response.json()

In [5]:
type(results_json)

dict

#### Step 5 - Output Keys

In [6]:
results_json.keys()

dict_keys(['listings', 'page', 'per_page', 'total', 'fallback', 'fallback_step', 'display', 'list_price', 'buy_online', 'sponsored_listings', 'location'])

#### Step 6 - Find your Data

Necessary data
- brand
- model
- mileage
- year
- price

In [8]:
len(results_json['listings'])

30

In [9]:
result_items = results_json['listings']

In [10]:
len(result_items)

30

In [11]:
# brand 
result_items[0]['vehicle']['make']

'Lexus'

In [12]:
# model 
result_items[0]['vehicle']['model']

'RX'

In [13]:
# mileage
result_items[0]['vehicle']['mileage']

46047

In [14]:
# year
result_items[0]['vehicle']['year']

2019

In [15]:
# price
result_items[0]['pricing']['list_price']

34069

#### Step 7 - Put everything together & For-Loop

In [16]:
brand_ny = []
model_ny = []
mileage_ny = []
year_ny = []
price_ny = []

for result in result_items:
    
    # brand
    brand_ny.append(result['vehicle']['make'])
    
    # model
    model_ny.append(result['vehicle']['model'])
    
    # mileage
    mileage_ny.append(result['vehicle']['mileage'])
    
    # year
    year_ny.append(result['vehicle']['year'])
    
    # price
    price_ny.append(result['pricing']['list_price'])

#### Step 8 - Pandas Dataframe - Single Page

In [17]:
df_ny_single = pd.DataFrame({'Brand': brand_ny, 'Model': model_ny, 'Mileage': mileage_ny, 'Year': year_ny,
                             'Price':price_ny})

In [18]:
df_ny_single

            Brand              Model  Mileage  Year  Price
0           Lexus                 RX    46047  2019  34069
1         Porsche                911    24653  2011  76695
2           Lexus                 ES    45165  2019  31569
3          Toyota              Camry    45693  2019  27569
4          Nissan              Rogue   169206  2019  13695
5           Lexus                 RX    12038  2019  41569
6           Lexus                 NX    25728  2020  34069
7           Lexus                 RX    28270  2019  38869
8           Honda              Civic    55356  2017  16995
9          Nissan             Murano    18565  2019  23488
10          Lexus                 NX    26530  2020  33869
11          Lexus                 GX    24684  2019  39969
12         Nissan        Rogue Sport    35383  2019  18998
13           Audi                 Q5    47261  2019  31269
14          Lexus                 NX    21193  2020  33869
15          Honda             Accord    30154  2019  22999
16         Toyota              Camry    26026  2020  25069
17          Lexus                 LS    54035  2018  46869
18           Jeep  Grand Cherokee WK    54902  2021  27897
19           Ford               Edge    49539  2021  22297
20          Lexus                 NX    32702  2019  31969
21          Lexus                 RX    30349  2019  42069
22          Lexus                 RX    26940  2018  34869
23           Ford           EcoSport    55928  2020  16097
24  Mercedes-Benz            E-Class   130638  2008   6995
25          Honda             Accord    71390  2018  20995
26          Lexus                 NX    24266  2021  34969
27          Mazda               CX-5    22392  2019  26495
28       INFINITI                Q50    81344  2018  17995
29           Jeep     Grand Cherokee    44679  2020  29597

#### Step 9 - Scraping Multiple Pages (here: ~5000results)

In [19]:
brand_ny = []
model_ny = []
mileage_ny = []
year_ny = []
price_ny = []

for i in range(1,170):

    headers = {
        'authority': 'www.truecar.com',
        'sec-ch-ua': '^\\^Chromium^\\^;v=^\\^92^\\^, ^\\^',
        'accept': 'application/json, text/plain, */*',
        'x-xsrf-token': 'Ur/kxt0PrKLpIlS3QELPXZBZHMSME0gTzs47TPfIUiC1LJqIt9HlLYrLTMgwB5qE6zC2M5Psn5Er+4Qm82MgEA==',
        'sec-ch-ua-mobile': '?0',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36',
        'sec-fetch-site': 'same-origin',
        'sec-fetch-mode': 'cors',
        'sec-fetch-dest': 'empty',
        'referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-new-york-ny/',
        'accept-language': 'en-US,en;q=0.9,de-DE;q=0.8,de;q=0.7',
        'cookie': 'tc_v=732d8f6c-016d-4e04-99ea-962821b285bd; u=rBEABWDn9kVuLQARuYhKAg==; user_zip_code_san-francisco-ca=94102; user_zip_code_new-york-ny=10001; _abp_auth_p=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwN2Q0MTBkOS0zYjYwLTQwNTAtYjhiMy0yN2VhNzI5YjI4MmEiLCJpYXQiOjE2MjgwNTk1ODAsImV4cCI6MTY0NDA1OTU4MCwianRpIjoiMTkxNjdlZmYtNDg5NC00NWE5LTgwMzItYjNjNWYyNjJhZjg3IiwiYXV0aGVudGljYXRlZCI6ZmFsc2UsInByZXNldCI6eyJhZmZpbGlhdGlvbnMiOltdfSwiYXVkIjoiaHR0cHM6Ly93d3cudHJ1ZWNhci5jb20ifQ; _abp_auth_s=aLdzR1stp7FxiV6Cbnggg8fmtny6X9FAap2fnCqWeXg; referrer=ZTC0000000; g_state=^{^\\^i_p^\\^:1628151776913,^\\^i_l^\\^:2^}; capselaPreferredPostalCode=10001; XSRF-TOKEN=Ur^%^2Fkxt0PrKLpIlS3QELPXZBZHMSME0gTzs47TPfIUiC1LJqIt9HlLYrLTMgwB5qE6zC2M5Psn5Er^%^2B4Qm82MgEA^%^3D^%^3D; _abp_backend_session=cnN3bFdMQjJQYTlwRFFvS3oybm1oWTl0SVc3NVNGRng5Y01GWHlxa3BybWFJRXM1UkFueTFRWUhMYUtSVW1YZWxNaUFIZ2ZjS2FUQ2pVeURRNG5PeEh6VlRFQjZnRmFLN01PWHZFdjBQTis5UG9VRGFtWko4MFZNY2ZUUGRmS1pkSFdmcnB4TVkwMnJGREZBblZla1RRPT0tLW5BQjFPdHVvTk1VbHJZL3lwQ2MrTUE9PQ^%^3D^%^3D--a4caf99167368bcbbcd454b4ffe52eb35169abe0; _dd_s=rum=0&expire=1628067151364',
        'if-none-match': 'W/^\\^ad5f12263df3f1f7dad67afa854d2880^\\^',
    }

    params = (
        ('city', 'new-york'),
        ('collapse', 'true'),
        ('fallback', 'true'),
        ('include_incentives', 'true'),
        ('include_targeted_incentives', 'true'),
        ('new_or_used', 'u'),
        ('page', str(i)),
        ('per_page', '30'),
        ('postal_code', '10001'),
        ('search_event', 'true'),
        ('sort^/[^/]', 'best_match'),
        ('sponsored', 'true'),
        ('state', 'ny'),
    )

    # response
    response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings', headers=headers, params=params)

    # json object
    results_json = response.json()
    
    # result items (30 items per page)
    result_items = results_json['listings']
    
    for result in result_items:
    
        # brand
        brand_ny.append(result['vehicle']['make'])

        # model
        model_ny.append(result['vehicle']['model'])

        # mileage
        mileage_ny.append(result['vehicle']['mileage'])

        # year
        year_ny.append(result['vehicle']['year'])

        # price
        price_ny.append(result['pricing']['list_price'])

In [20]:
df_ny_single = pd.DataFrame({'Brand': brand_ny, 'Model': model_ny, 'Mileage': mileage_ny, 'Year': year_ny,
                             'Price':price_ny})

In [21]:
df_ny_single

           Brand           Model  Mileage  Year    Price
0          Lexus              RX    46047  2019  34069.0
1        Porsche             911    24653  2011  76695.0
2          Lexus              ES    45165  2019  31569.0
3         Toyota           Camry    45693  2019  27569.0
4         Nissan           Rogue   169206  2019  13695.0
...          ...             ...      ...   ...      ...
5065   Chevrolet  Silverado 1500    55711  2017  27602.0
5066       Honda            CR-V    44313  2018  26998.0
5067        Ford        Explorer    23852  2020  35995.0
5068  Volkswagen           Jetta     8644  2019  26998.0
5069         BMW              X3    15992  2020  39998.0

[5070 rows x 5 columns]

In [22]:
df_ny_single.to_excel('output_5k.xlsx', index=False)

# Part 2 - Truecar.com - San Francisco

In [23]:
brand_sf = []
model_sf = []
mileage_sf = []
year_sf = []
price_sf = []

for i in range(1,170):
    headers = {
        'authority': 'www.truecar.com',
        'sec-ch-ua': '^\\^Chromium^\\^;v=^\\^92^\\^, ^\\^',
        'accept': 'application/json, text/plain, */*',
        'x-xsrf-token': 'sRHovNRE9jEGmReSnaj0SFGY/L5+yUbMUmoVcX3SrQpWgpbyvpq/vmVwD+3t7aGRKvFWSWE2kU63X6obeXnfOg==',
        'sec-ch-ua-mobile': '?0',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36',
        'sec-fetch-site': 'same-origin',
        'sec-fetch-mode': 'cors',
        'sec-fetch-dest': 'empty',
        'referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-san-francisco-ca/',
        'accept-language': 'en-US,en;q=0.9,de-DE;q=0.8,de;q=0.7',
        'cookie': 'tc_v=732d8f6c-016d-4e04-99ea-962821b285bd; u=rBEABWDn9kVuLQARuYhKAg==; user_zip_code_san-francisco-ca=94102; user_zip_code_new-york-ny=10001; _abp_auth_p=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwN2Q0MTBkOS0zYjYwLTQwNTAtYjhiMy0yN2VhNzI5YjI4MmEiLCJpYXQiOjE2MjgwNTk1ODAsImV4cCI6MTY0NDA1OTU4MCwianRpIjoiMTkxNjdlZmYtNDg5NC00NWE5LTgwMzItYjNjNWYyNjJhZjg3IiwiYXV0aGVudGljYXRlZCI6ZmFsc2UsInByZXNldCI6eyJhZmZpbGlhdGlvbnMiOltdfSwiYXVkIjoiaHR0cHM6Ly93d3cudHJ1ZWNhci5jb20ifQ; _abp_auth_s=aLdzR1stp7FxiV6Cbnggg8fmtny6X9FAap2fnCqWeXg; referrer=ZTC0000000; g_state=^{^\\^i_p^\\^:1628151776913,^\\^i_l^\\^:2^}; capselaPreferredPostalCode=94102; XSRF-TOKEN=sRHovNRE9jEGmReSnaj0SFGY^%^2FL5^%^2ByUbMUmoVcX3SrQpWgpbyvpq^%^2FvmVwD^%^2B3t7aGRKvFWSWE2kU63X6obeXnfOg^%^3D^%^3D; _abp_backend_session=a3VMTkJGelNWbmptb3Q4aHlObjNIT1VXNFBZNXREeEg0SHo4MEZGdTNoalFRSzV2VldsaStYa3J6UDZSdGJvZDJsRUtXUkJVZ0ZycXhrbU5PZ0gxZms3RGFtRFJVbXZTeTFzeGI3WGo2VGVxUmptdm1OYVdmZGVrWlFvMDIxQVdLZ1BnM1A2SGZBa1pKbXhERlZOVzlRPT0tLW9ONTI2Y0xLM0lLY1g1NE5qSEpaSVE9PQ^%^3D^%^3D--4c4bf94f0b241212f5e3b798c48f4a5f0e366f7f; _dd_s=rum=0&expire=1628089775124',
        'if-none-match': 'W/^\\^a5ee0fa2b55644cda4fcbfe817357d97^\\^',
    }

    params = (
        ('city', 'san-francisco'),
        ('collapse', 'true'),
        ('fallback', 'true'),
        ('include_incentives', 'true'),
        ('include_targeted_incentives', 'true'),
        ('new_or_used', 'u'),
        ('page', str(i)),
        ('per_page', '30'),
        ('postal_code', '94102'),
        ('search_event', 'true'),
        ('sort^/[^/]', 'best_match'),
        ('sponsored', 'true'),
        ('state', 'ca'),
    )

    # response
    response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings', headers=headers, params=params)

    # json object
    results_json = response.json()
    
    # result items (30 items per page)
    result_items = results_json['listings']
    
    for result in result_items:
    
        # brand
        brand_sf.append(result['vehicle']['make'])

        # model
        model_sf.append(result['vehicle']['model'])

        # mileage
        mileage_sf.append(result['vehicle']['mileage'])

        # year
        year_sf.append(result['vehicle']['year'])

        # price
        price_sf.append(result['pricing']['list_price'])

In [24]:
df_sf_single = pd.DataFrame({'Brand': brand_sf, 'Model': model_sf, 'Mileage': mileage_sf, 'Year': year_sf,
                             'Price':price_sf})

In [25]:
df_sf_single

           Brand    Model  Mileage  Year  Price
0     Volkswagen    Jetta    58135  2014  10579
1          Scion       xB   216000  2008   3108
2      Chevrolet   Malibu    55625  2017  14601
3          Tesla  Model Y    22716  2021  58990
4         Toyota  Corolla    43600  2013  14239
...          ...      ...      ...   ...    ...
5065       Lexus       IS   121969  2011  16500
5066     Hyundai  Elantra    98242  2016  12998
5067         Kia   Optima    28115  2020  20590
5068  Volkswagen   Passat    53157  2016  16068
5069       Honda      Fit    56770  2016  16998

[5070 rows x 5 columns]

# Part 3 - Combine Data & Connect to Database - PostgreSQL

In [26]:
# merge dataframes
merged_dataframes = pd.concat([df_ny_single, df_sf_single], ignore_index=True)

In [27]:
merged_dataframes

            Brand    Model  Mileage  Year    Price
0           Lexus       RX    46047  2019  34069.0
1         Porsche      911    24653  2011  76695.0
2           Lexus       ES    45165  2019  31569.0
3          Toyota    Camry    45693  2019  27569.0
4          Nissan    Rogue   169206  2019  13695.0
...           ...      ...      ...   ...      ...
10135       Lexus       IS   121969  2011  16500.0
10136     Hyundai  Elantra    98242  2016  12998.0
10137         Kia   Optima    28115  2020  20590.0
10138  Volkswagen   Passat    53157  2016  16068.0
10139       Honda      Fit    56770  2016  16998.0

[10140 rows x 5 columns]

In [28]:
merged_dataframes['Price'] = merged_dataframes['Price'].astype('Int64')

In [29]:
# output updated dataframe
merged_dataframes

            Brand    Model  Mileage  Year  Price
0           Lexus       RX    46047  2019  34069
1         Porsche      911    24653  2011  76695
2           Lexus       ES    45165  2019  31569
3          Toyota    Camry    45693  2019  27569
4          Nissan    Rogue   169206  2019  13695
...           ...      ...      ...   ...    ...
10135       Lexus       IS   121969  2011  16500
10136     Hyundai  Elantra    98242  2016  12998
10137         Kia   Optima    28115  2020  20590
10138  Volkswagen   Passat    53157  2016  16068
10139       Honda      Fit    56770  2016  16998

[10140 rows x 5 columns]

#### Excel File

In [84]:
merged_dataframes.to_excel('merged_dataframes.xlsx', index=False)

#### Connect to PostgreSQL

In [ ]:
# create sqlalchemy engine
engine = create_engine('postgres://postgres:DataScience123@@localhost:5432')
merged_dataframes.to_sql('merged_dataframes', engine)